<h1>Secrets</h1>
<% @secrets.each do |secret| %>
  <% if secret.users.exclude?(current_user) %>
    <% if @likes.where(secret_id: secret.id).count == 1 %>
      <p><span><%= @likes.where(secret_id: secret.id).count %> like </span> | <%= secret.content %></p> 
    <% else %>
      <p><span><%= @likes.where(secret_id: secret.id).count %> likes </span> | <%= secret.content %></p> 
    <% end %>
      <a href="/likes/<%= secret.id %>">Like</a>
  <% else %>
    <% if @likes.where(secret_id: secret.id).count == 1 %>
      <p><span><%= @likes.where(secret_id: secret.id).count %> like </span> | <%= secret.content %></p> 
    <% else %>
      <p><span><%= @likes.where(secret_id: secret.id).count %> likes </span> | <%= secret.content %></p> 
    <% end %>
      <a href="/likes/<%= secret.id %>" data-method="delete">Unlike</a>
  <% end %>

  <% if current_user == secret.user %>
    <form action="/secrets/<%= secret.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="form_authenticity_token">
      <input type="submit" value="Delete Secret">
    </form>
  <% end %>
<% end %>