<h3><%= @post.user.name %></h3>
<a href='/posts/<%= current_user.id %>'>Back to Ideas</a>
<p>
  <%= @post.message %>
</p>

<div class='show'>


<table >
  <tr>
    <th>Alias</th>
    <th>Name</th>
  </tr>
<% @users.each do |user| %>
  <% if @post.users_liked.include?(user) %>
    <tr>
      <td><a href="/posts/user/<%= user.id %>/show"><%= user.alias %></a></td>
      <td><%= user.name %></td>
    </tr>
  <% end %>
<% end %>
</table>
</div>
